:root {
    --primary: #2a9ec6;
    --font-2: rgb(61, 232, 160);
    --font-3: rgb(51, 247, 244);
    --font-family: "Optima", sans-serif;
    --text-color: rgb(164, 159, 159);
    --backgroundtheme: linear-gradient(301grad,rgb(235, 236, 254), rgb(101, 152, 241),rgba(119, 45, 238, 0.927) );
    --backgroundthemeStudent: radial-gradient(circle, rgba(20,176,222,1) 0%, rgba(109,232,231,1) 100%);
    --backgroundthemeRecruiter: radial-gradient(circle, rgba(64,75,226,1) 0%, rgba(140,21,235,1) 100%);
  }