.dashboard_body{
    background-image: linear-gradient(90deg, rgba(224,222,241,1) 11%, rgba(154,62,205,1) 48%, rgba(0,212,255,1) 100%);;
}

 
.btnDisconnect{
    border: 1px solid red;
    width: 8rem;
    height: 4rem;
    color: aliceblue;
    font-weight: 200;
    background-color: #ff0048;
    border-radius: 10px 10px 10px 10px;
  }

  .btnDisconnect:hover{
    background-color: #ee4b6b97;
  }